<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>

<body>
    <div class="container main">
        <header>
            <div class="wrapper">
                <nav>
                    <ul class="nav-links">
                        <li class="home nav-1"><a href="/">home</a></li>
                        <li class="about nav-1"><a href="/about">about</a></li>
                        <li class="blog nav-1"><a href="/blog">blog</a></li>
                        <% if(data.status !== "loggedIn"){ %>
                            <li class="login nav-1"><a href="/login">login</a></li>
                            <%}%>
                                <% if(data.status !== "notLoggedIn"){%>
                                    <li class="logout nav-1"><a href="/logout">logout</a></li>
                                    <%}%>
                    </ul>
                </nav>
            </div>
            <div class="dashboard">
                <h1>Amin Dashboard</h1>
            </div>

        </header>
    </div>
</body>

</html>