<%- include('../partials/header');%>
    </div>

    <div class="title">
        <h1>login </h1>
    </div>
    <div>
        <form action="../../frontend/scripts/handleLoginForm.js">

            <label for="email ">email</label>
            <input type="email" name="email" class="email" required id="user-email ">
            <div class="email-error"></div>


            <label for="password ">password</label>
            <input type="password" name="password" required class="password" id="user-password ">
            <div class="password-error"></div>


            <input type="submit" name="submit " id="user-submit " value="Login ">


        </form>
        <button><a href="/signup">Sign Up</a></button>
    </div>
    <script type="text/javascript" src="scripts/handleLoginForm.js" defer></script>
    <%- include('../partials/footer');%>